<!doctype html>
<html ng-app="app">
<head>
    <title>User Administration Demo App</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">


    <script src="/webjars/angularjs/1.4.9/angular.js"></script>
    <script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controller.js"></script>
    <script src="/static/js/service.js"></script>
</head>
<body ng-controller="CustomerController">
<h4>User Administration Demo App INDEX</h4>

Customer: {{customer.identifier}}, {{customer.firstName}} {{customer.lastName}}
<!-- Show existing friends. -->
<ul ng-show="!!customer">
    <li ng-repeat="account in customer.accounts">

        Balance: {{ account.balance }}

        ( <a ng-click="removeFriend( account )">delete</a> )

    </li>
</ul>


</body>
</html>
